<!-- app/views/chatrooms/show.html.erb -->
<div class="chatroom container-error-edit d-flex justify-content-center col-12 col-sm-4 h-100 w-100 position-relative">
<%= render "shared/back_button" %>
<div class = "error-card justify-content-center chat-w color-white"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value= "<%= current_user.id %>">
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @booking.chatroom.messages.each do |message| %>
    <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
        <%= render "messages/message", message: message %>
      </div>
    </div>
    <% end %>
  </div>

  <%= simple_form_for [@booking, @chatroom, @message],
   html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex message-type-box" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}%>
    <%= f.submit "Send", class: "messages-button universal-button" %>
  <% end %>
  </div>
</div>
