<div class="container">
  <h1>All my bookings:</h1>
  <hr>
  <%= link_to "Add a booking", new_booking_path %>
  <hr>

  <% @my_bookings.each do |booking| %>
  <li><%= booking.host.first_name %></li>
  <li><%= booking.host.last_name %></li>
  <li><%= booking.host.id %></li>
  <li><%= booking.id %></li>
  <li><%= booking.room_id %></li>
  <%= link_to "See this booking", booking_path(booking) %>
  <hr>
  <% end %>

</div>
