<div class="container">
  <h1>All my bookings:</h1>

  <hr>

  <% if current_user.role == 'host' %>
  <%= link_to "All my rooms", rooms_path %>
  <% elsif %>
  <% current_user.role == 'refugee' %>
  <%= link_to "I want a room for tonight pliz", new_booking_path %>
  <% end %>

  <hr>

  <% @my_bookings.each do |booking| %>
  <li>First name: <%= booking.host.first_name %></li>
  <li>Last name: <%= booking.host.last_name %></li>
  <li>Host id: <%= booking.host.id %></li>
  <li>Booking id: <%= booking.id %></li>
  <li>Room id: <%= booking.room_id %></li>
  <%= link_to "See this booking", booking_path(booking) %>
  <hr>
  <% end %>


</div>
