<div class="rooms-index-row h-100 d-flex">
  <%= render "shared/interactive_sidebar" %>
  <div>
  <% if current_user.email == "admin@gmail.com" %>
    <%= button_to "Create Bookings", bookings_update_path, method: :patch %>
  <% end %>
    <h1 style="padding-left: 40px;">All My Bookings</h1>
    <%= render "shared/refugeecardgrid" %>
    <hr class="hr-line-bookings"style="padding-left:50px">
    <h1 style="padding-left: 40px;">All My Past Bookings</h1>
    <%= render "shared/pastbookings" %>
    <%= link_to "#", data: {bs_toggle: "modal", bs_target:"#chatModal"} do  %>
                    <span class="dot"><p id="chat">CHAT</p></span>
                <% end %>
  </div>
</div>
<%= render "shared/chat_modal" %>
