<div class="row">
  <%= render "shared/sidebar" %>

  <div class="col-8">
    <h1><%= @booking.id %></h1>

    <div class="bookings-images-container position-relative" style="background-image: url(<%= cl_image_path @booking.room.room_pictures.first.key, crop: :fill %>)">
      <button type="button" class="room-photo-btn w-100 h-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <% if @booking.room.room_pictures %>
          <div class="show-all-photos-btn position-absolute">
            <i class="fa-solid fa-images"> </i>
            <%= link_to "Show All Photos" %>
          </div>
        <% end %>
      </button>
          <%= render "bookings/images_modal", booking: @booking %>
    </div>

    <div class="booking-info mt-3">
      <%#= @booking.room_id %>
      <% if @booking.host.first_name && @booking.host.last_name %>
      <i class="fa-regular fa-user ps-5 pe-2"></i> Host: <%= @booking.host.first_name + " " + @booking.host.last_name %>
      <% end %>
      <%# <p><%= image_tag "fa-thin fa-user.png", Host: @booking.host.first_name + " " + @booking.host.last_name %></p>
      <i class="fa-solid fa-person-shelter ps-5 pe-2" style="color: #FF5D00;"></i>Guest ID: <%= @booking.refugee_id %>
      <i class="fa-solid fa-calendar ps-5 pe-2"></i><p>Arrival & Departure Dates: <%= @booking.arrival_date %> | <%= @booking.departure_date %></p>
    </div>
  </div>

  <div class="col-2">
    Messages
  </div>

  <div>
    <% if current_user.role == 'host' %>
      <% if @booking.review.nil? %>
      <div class="container">
        <div class="row justify-content-center">
           <div class="col-12 col-lg-5 form-rating">
             <h5>Did you have a good time with <%= @booking.refugee.email%>?</h5>
             <p> This rating is never going to be displayed. It is only for organization purposes. The people with the best ratings will get rooms assigned first.</p>
             <%= simple_form_for [@booking, @review] do |f|%>
             <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience",
                          input_html: {data: {controller: "star-rating"}} %>
             <%= f.input :description %>
             <%= f.button :submit, "Submit", class: "universal-button" %>
             <% end %>
      <% end %>
    <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
