<div class="container">
  <h1>Booking id: <%= @booking.id %> </h1>
  <ul>
    <li>Arrival date: <%= @booking.arrival_date %></li>
    <li>Departure date: <%= @booking.departure_date %></li>
    <li>Room id: <%= @booking.room_id %></li>
    <li>Refugee id: <%= @booking.refugee_id %></li>
  </ul>
</div>

<%= link_to "My bookings", bookings_path %>
