<div class="row">
  <%= render "shared/sidebar" %>

  <div class="col-8">
    <h1><%= @booking.id %></h1>

    <div class="bookings-images-container position-relative" style="background-image: url(<%= cl_image_path @booking.room.room_pictures.first.key %>)">
      <button type="button" class="room-photo-btn w-100 h-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <% if @booking.room.room_pictures %>
          <div class="show-all-photos-btn position-absolute">
            <i class="fa-solid fa-images"> </i> Show All Photos
          </div>
        <% end %>
      </button>
      <div>
          <%= render "bookings/images_modal", booking: @booking %>
      </div>
    </div>

    <div class="booking-info mt-3">
      <%#= @booking.room_id %>
      <% if @booking.host.first_name && @booking.host.last_name %>
      <i class="fa-regular fa-user ps-5 pe-2"></i> Host: <%= @booking.host.first_name + " " + @booking.host.last_name %>
      <% end %>
      <%# <p><%= image_tag "fa-thin fa-user.png", Host: @booking.host.first_name + " " + @booking.host.last_name %></p>
      <i class="fa-solid fa-person-shelter ps-5 pe-2" style="color: #FF5D00;"></i>Guest ID: <%= @booking.refugee_id %>
      <i class="fa-solid fa-calendar ps-5 pe-2"></i><p>Arrival & Departure Dates: <%= @booking.arrival_date %> | <%= @booking.departure_date %></p>
    </div>
  </div>

  <div class="col-2">

    <% if @booking.status && @booking.status_refugee && @booking.chatroom %>
      <%= link_to "Messages", booking_chatroom_path(@booking, @booking.chatroom) %>
    <% end %>

  </div>

        <%= link_to "#", data: {bs_toggle: "modal", bs_target:"#chatModal"} do  %>
            <span class="dot"><p id="chat">CHAT</p></span>
        <% end %>

  <button type="button" id="buttonRating" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#ratingModal"></button>
    <% if current_user.role == 'host' %>
    <% if @booking.review.nil? && (@booking.departure_date - Date.today).negative? %>
      <%= render "rating_modal" %>
    <% end %>
    <% end %>



</div>

<%= render "chat_modal" %>
