<div class="row mx-2">
  <%= render "shared/sidebar" %>
<div class="mybookings_container col-10" style="margin-bottom: 100px">
  <h1><%= @booking.id %> </h1>
  <div class="bookings-images-container" >
    <%= image_tag "apt 4.jpeg", class:"biggest-image", width: "50%" %>
    <div class="smaller-images" >
      <%= image_tag "apt 1.jpeg", class:"top-left-image", width: "100%" %>
      <%= image_tag "apt 2.jpeg", class:"top-right-image", width: "100%" %>
      <%= image_tag "apt 3.jpeg", class:"bottom-left-image", width: "100%" %>
      <%= image_tag "apt 5.jpeg", class:"bottom-right-image", width: "100%" %>
    </div>
  </div>
  <div class="booking-info">
    <p>Room id: <%= @booking.room_id %></p>
    <p>Refugee id: <%= @booking.refugee_id %></p>
    <p>
    <p>Arrival date: <%= @booking.arrival_date %></p>
    <p>Departure date: <%= @booking.departure_date %></p>
  </div>
 </div>

 <% if current_user.role == "host" %>
  <div class="container">
    <div class="row">
    <div class="form-login">
     <div class="col-xs-4 col-lg-4">
      <div class="container">
      <%# if @booking.reviews == [] %>
        <%= simple_form_for [@booking, @review] do |f|%>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience",
             input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :description %>
         <%= f.button :submit, "Review", class: "universal-button" %>
        <% end %>
      <%# end %>
      </div>
      </div>
     </div>
   </div>
  </div>
  <% end %>
</div>
