<div class="container" style="margin-bottom: 100px">
  <h1>Booking id: <%= @booking.id %> </h1>
  <ul>
    <li>Arrival date: <%= @booking.arrival_date %></li>
    <li>Departure date: <%= @booking.departure_date %></li>
    <li>Room id: <%= @booking.room_id %></li>
    <li>Refugee id: <%= @booking.refugee_id %></li>
  </ul>

  <div class="form-login">
   <div class="col-12 col-sm-4">
    <div class="container">
    <% if @booking.reviews == [] %>
      <%= simple_form_for [@booking, @review] do |f|%>
      <%= f.input :rating %>
      <%= f.input :description %>
       <%= f.button :submit, "Review", class: "universal-button" %>
      <% end %>
    <% end %>
  </div>
  </div>
  </div>


</div>

<%= link_to "My bookings", bookings_path %>
