<div class="container">
<%= simple_form_for (@user) do |f|%>
    <%= f.input :role, collection: User::ROLES %>
    <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.input :username%>
    <%= f.input :description%>
    <%= f.input :identity_number %>
    <%= f.input :profile_picture, as: :file %>
    <%= f.button :submit, "Edit" %>
<% end %>
</div>
