<% if current_user.id == @user.id %>
  <div class="mx-2" style="margin-bottom: 100px">
    <div class="row">
      <%= render "shared/sidebar" %>

    <div class="col-10">
      <h1 style="padding-left: 20px;">Your profile page</h1>

<div class="d-flex">
  <div class="user-profile-image m-3">
    <% if @user.profile_picture.attached? %>
      <%= cl_image_tag @user.profile_picture.key, height:300, width:400, crop: :fill %>
    <% else %>
      <%= image_tag "https://cdn.britannica.com/22/125622-050-E4DA94ED/Albino-axolotl.jpg", width:200, height:200, class:"m-2" %>
    <% end %>
  </div>
  <div class="card-profile">
    <div class="card-user-info m-4">
      <p>Username: <%= @user.username %></p>
      <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
    <% if @user.id == current_user.id %>
      <p>ID number: <%= @user.identity_number %></p>
    <% end %>
      <p>About: <%= @user.description %></p>
    </div>
  </div>
</div>

<div class="user-edit-btn">
    <% if @user.id == current_user.id %>
      <%= link_to "Edit profile", edit_user_path(@user), class: "btn universal-button" %>
    <% end %>
</div>


    <div style="width: 50%; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    </div>
  </div>

    <% else %>
      <script type="text/javascript">
        window.location.href="/error_page"
      </script>
    <% end %>

</div>
