<div class="rooms-index-row row h-100 d-flex ms-5">
  <h1 class="mb-2"> <%= @user.first_name %>'s Profile</h1>
    <div class="col-10" style="text-align: center;">
      <div class="user-profile-image">
        <% if @user.profile_picture.attached? %>
          <%= cl_image_tag @user.profile_picture.key, width: 200, height: 200, crop: :fill, class:"m-2" %>
        <% else %>
          <%= image_tag "https://unsplash.com/photos/Cecb0_8Hx-o", width: 200, height: 200, class:"m-2" %>
        <% end %>
      </div>
      <div class="user-username icon-user mt-3" style="display: block">
        <i class="fa-solid fa-user pe-2"></i><p> <%= @user.username %></p>
        <div class="edit-profile-btn">
          <% if @user.id == current_user.id %>
            <%= link_to "Edit", edit_user_path(@user), class: "universal-button mt-3" %>
          <% end %>
        </div>
      </div>
      <div class="card-profile">
        <strong><p>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
        <p><strong>Bio:</strong> <%= @user.description %></p>
      </div>
      <div>
        <% if current_user.role == "host" %>
          <div class="map-card mt-5 mb-5"
              style="width: 100%; height: 300px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <% else %>
        <%# <script type="text/javascript">
          window.location.href="/error_page"
        </script> %>
        <% end %>
      </div>
    </div>
</div>
