<div class="grid-cards mt-2">
  <% if @rooms.empty? %>
    <div class="my-2">
      <%= link_to "Add a room", new_room_path, class: "empty-arrays-btn text-decoration-none"%>
    </div>
  <% else %>
  <% @rooms.each do |room| %>

    <div class="card-index-room">

      <div class="card-image">
        <% if room.room_pictures.attached? %>
          <%= cl_image_tag room.room_pictures[0].key, crop: :fill %>
        <% else %>
          <%= image_tag "https://cdn.britannica.com/22/125622-050-E4DA94ED/Albino-axolotl.jpg", width:200, height:200, class: "image-card"   %>
        <% end %>
      </div>

      <div class="card-description">
        <div class="icon-user">
          <i class="fa-solid fa-user pe-2"></i><p><strong>Host:</strong> <%= room.host.first_name %>  <%= room.host.last_name %></p>
        </div>
        <div class="icon-location">
          <i class="fa-solid fa-location-dot pe-2"></i><li><p><%= room.address %></li></p>
        </div>
        <div class="icon-bed">
          <i class="fa-solid fa-bed pe-2"></i> <p><%= room.beds %></p>
        </div>
      </div>

      <div class="card-link">
        <%= link_to "Show room", room_path(room), class: "btn universal-button" %>
      </div>

    </div>
     <% end %>
  <% end %>
</div>
