<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "OrangeLogoInvisible.png" %>
  <% end %>
  <% if user_signed_in? %>
    <div class="dropdown">
        <button class="dropbtn navbar-user-btn d-flex">
          <%= image_tag "Orange Symbol Invisible down.png", class:"navbar-logodrop" %>
          <i class="fa-regular fa-user p-0"></i>
        </button>
      <div class="dropdown-content text-center">
        <%= link_to user_path(current_user)do %>
            My Profile
        <% end %>
        <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete} %>
        </div>

    </div>
  <% end %>
</div>
