<div class="grid-cards mt-5">

  <% @my_bookings.each do |booking| %>

    <div class="card-index-room">

      <div class="card-image">
        <img src="https://www.xotels.com/wp-content/uploads/2020/03/hotel-room-type-xotels-hotel-management-company.webp" alt="room image">
      </div>

      <div class="card-description">
        <div class="icon-user">
          <i class="fa-solid fa-user pe-2"></i><p><strong>Host:</strong> <%= booking.host.first_name %> <%= booking.host.last_name %></li>
        </div>
        <div class="icon-calendar">
          <i class="fa-solid fa-calendar pe-2"></i><p><%= booking.departure_date %></p>
        </div>
      </div>

      <div class="card-link">
        <%= link_to "See booking", booking_path(booking), class:"btn universal-button" %>
        <% if current_user.role == "refugee" && booking.status_refugee.nil? %>
          <%= button_to "Accept", accept_booking_path(booking), method: :patch, style:"text-decoration:none"  %>
          <%= button_to "Decline", decline_booking_path(booking), data: {turbo_method: :delete, turbo_confirm:"Are you sure you want to be a bitch ?"}, style:"text-decoration:none" %>
        <% end %>
        <% if current_user.role == "host" && booking.status.nil? %>
          <%= button_to "Accept", accept_booking_path(booking), method: :patch, style:"text-decoration:none"  %>
          <%= button_to "Decline", decline_booking_path(booking), data: {turbo_method: :delete, turbo_confirm:"Are you sure you want to be a bitch ?"}, style:"text-decoration:none" %>
        <% end %>

      </div>
    </div>
     <% end %>
</div>
