<div class="grid-cards mt-2">

  <% if @my_current_bookings.empty? %>
    <div class="my-2">
      <% if current_user.role == 'refugee' %>
        <%= link_to "Ask for a room tonight", new_booking_path, class: "empty-arrays-btn text-decoration-none"%>
      <% else %>
      <p>You have no bookings for today yet. If you would like to host someone for the night, make sure that you added a room.</p>
      <% end %>
    </div>
  <% else %>
  <% @my_current_bookings.each do |booking| %>
    <div class="card-index-room">

      <div class="card-image">
         <% if booking.room.room_pictures.attached? %>
          <%= cl_image_tag booking.room.room_pictures[0].key, crop: :fill %>
        <% else %>
          <%= image_tag "https://cdn.britannica.com/22/125622-050-E4DA94ED/Albino-axolotl.jpg", width:200, height:200, class: "image-card" %>
        <% end %>
      </div>

      <div class="card-description">
        <% if booking.room.host.email == "admin@gmail.com" %>
          <i class="fa-solid fa-user pe-2"></i><p><strong>Host:</strong> Not assigned yet </li>
        <% else %>
        <div class="icon-user">
          <i class="fa-solid fa-user pe-2"></i><p><strong>Host:</strong> <%= booking.host.first_name %> <%= booking.host.last_name %></li>
        </div>
        <div class="icon-calendar">
          <i class="fa-solid fa-calendar pe-2"></i><p><%= booking.departure_date %></p>
        </div>
        <% end %>
      </div>

      <div class="card-link">
        <% if booking.status && booking.status_refugee %>
          <%= link_to "See booking", booking_path(booking), class:"btn universal-button" %>
        <% end %>
      </div>

      <div class="container">
        <%# Booking is assigned to dumy room %>
        <% if booking.room.host.email == "admin@gmail.com" %>
          <p>Pending...</p>
        <% else %>

        <%# Booking creation has happened, the host / refugee have the ability to accept %>
          <div class="d-flex justify-content-between">
            <% if current_user.role == "refugee" && booking.status_refugee.nil? %>
              <%= button_to "Decline", decline_booking_path(booking), data: {turbo_method: :delete, turbo_confirm:"Are you sure you are not available ?"}, class: "universal-button px-3 py-2 mb-2" %>
              <%= button_to "Accept", accept_booking_path(booking), method: :patch, class: "universal-button px-3 py-2 mb-2"  %>
            <% elsif current_user.role == "refugee" && booking.status_refugee && booking.status.nil? %>
              <p>Pending...</p>
            <% end %>
          </div>
          <% end %>
      </div>
      <div class="container">
        <div class="d-flex justify-content-between">
          <% if current_user.role == "host" && booking.status.nil? %>
            <%= button_to "Decline", decline_booking_path(booking), data: {turbo_method: :delete, turbo_confirm:"Are you sure you are not available ?"}, class: "universal-button px-3 py-2 mb-2" %>
            <%= button_to "Accept", accept_booking_path(booking), method: :patch, class: "universal-button px-3 py-2 mb-2"%>
          <% elsif current_user.role == "host" && booking.status && booking.status_refugee.nil? %>
          <p>Pending...</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
