<div class="col-2 side-bar h-100">
  <% if current_user %>
    <% if current_user.role == 'refugee' %>
      <%= link_to bookings_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> Dashboard
      <% end %>
      <%= link_to new_booking_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> Book Room tonight
      <% end %>
      <%= link_to root_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> Messages
      <% end %>
      <%= link_to user_path(current_user), class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> My profile
      <% end %>
    <% else %>
      <%= link_to rooms_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> Dashboard
      <% end %>
      <%= link_to new_room_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> Add new room
      <% end %>
      <%= link_to rooms_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> See all rooms
      <% end %>
      <%= link_to bookings_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> Previous bookings
      <% end %>
      <%= link_to root_path, class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> Messages
      <% end %>
      <%= link_to user_path(current_user), class: "sidebar-btn mx-3" do %>
        <%= image_tag "Orange Symbol Invisible right.png", class:"sidebar-logosymbol" %> My profile
      <% end %>
    <% end %>
  <% end %>
</div>
