<div class="col-2 side-bar">
  <% if current_user %>
    <% if current_user.role == 'refugee' %>
      <%= link_to "Dashboard", bookings_path, class: "ms-2" %>
      <%= link_to "Book room tonight", new_booking_path, class: "ms-2" %>
      <%= link_to "Messages", root_path, class: "ms-2" %>
      <%= link_to "My profile", user_path(current_user), class: "ms-2" %>
    <% else %>
        <%= link_to "Dashboard", rooms_path, class: "ms-2" %>
        <%= link_to "Add new room", new_room_path, class: "ms-2" %>
        <%= link_to "See all rooms", rooms_path, class: "ms-2" %>
        <%= link_to "Previous bookings", bookings_path, class: "ms-2" %>
        <%= link_to "Messages", root_path, class: "ms-2" %>
        <%= link_to "My profile", user_path(current_user), class: "ms-2" %>
    <% end %>
  <% end %>
</div>
