<% if current_user %>
  <% if current_user.role == "host"%>
    <script type="text/javascript">
    window.location.href="/bookings"  // put your correct path in a string here
  </script>
   <% else %>
    <script type="text/javascript">
    window.location.href="/bookings"  // put your correct path in a string here
  </script>
  <% end %>
<% else %>
  <div class="row home-body" style='height: 100vh' data-controller='splash'>
    <div class="col-6 white-container d-none" data-splash-target="whiteContainer">
     <div class="container info-card">
      <h3 style="display:flex; justify-content:center">About HOST</h3>
      <p>The main purpose of HOST is to provide shelter for the growing flow of refugees. If you feel like helping and have an extra room in your home, or even an extra home, you can upload it on our platform. Some people really need your help !  </p>
      <p>If you just arrived in a country that is not yours and have no shelter for the night, you can also sign up, and we will do our best to find you a room that matches your needs.</p>
      <p>You have until 6pm everyday to notify us if you need a room. Hosts will then accept or not your request, and they still have an hour to cancel if an unfortunate event comes up.</p>
      <p>The world as we know it is changing and exceptional circumstances are creating mass migration movements. No one can predict the future, but everyone should have a roof over their heads on any occasion.</p>
      <p>Help us provide fundamental humal rights to as many people as possible.</p>
    </div>

      <div class="login-form">
        <%= link_to "Sign Up", new_user_registration_path, class:"hidden_homepage_button", data: { action: "click->splash#showSignUpForm" }%>
        <%= link_to "Log In", user_session_path, class:"hidden_homepage_button", data: { action: "click->splash#showLoginForm" } %>
      </div>
    </div>


    <div class="col-6 login-container d-none" data-splash-target="loginForm">
      <%= render "devise/sessions/login" %>
    </div>

    <div class="col-6 signup-container d-none" data-splash-target="registerForm">
      <%= render "devise/registrations/register" %>
    </div>


    <div class="col-6 enter-host-container" data-splash-target="enterHostContainer">
      <div class="splash_logo">
        <%= image_tag "White Logo Invisible.png", width: 600 %>
      </div>
      <div class="splash_button" type="button" id="splash-button" data-action="click->splash#slide" data-splash-target="button">
        <%= image_tag "White Symbol Invisible Right.png", width: 25 %>
        <p class="splash_button_link m-0">Enter Here</p>
      </div>
    </div>
  </div>


<% end %>
