<% if current_user %>
  <% if current_user.role == "host"%>
    <script type="text/javascript">
    window.location.href="/rooms"  // put your correct path in a string here
  </script>
  <% else %>
    <script type="text/javascript">
    window.location.href="/bookings"  // put your correct path in a string here
  </script>
  <% end %>
<% else %>
<div class ="home-body">
<div class="container upper_container">
  <div class="container">
  </div>
  <div class="splash_container">
    <div class="splash_logo">
      <%= image_tag "White Logo Invisible.png", width: 600 %>
    </div>
    <div class="splash_button nohover" type="button">
      <%= link_to root_path do %>
        <%= image_tag "White Symbol Invisible Right.png", width: 25 %>
        <% if current_user %>
          <% if current_user.role == 'refugee' %>
            <%= link_to "Enter Here", bookings_path, class: "splash_button_link" %>
          <% else %>
            <%= link_to "Enter Here", rooms_path, class: "splash_button_link" %>
          <% end %>
        <% else %>
          <%= link_to "Sign Up", new_user_session_path, class: 'splash_button_link'%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
<% end %>
