<div class="container">
  <h1>Your rooms:</h1>
    <p><%= link_to "Add a new room", new_room_path %></p>

    <% @rooms.each do |room| %>
      <li>Room id: <%= room.id %></li>
      <li>Host id: <%= room.host_id  %></li>
      <li>Host first name: <%= room.host.first_name %></li>
      <li>Host last name: <%= room.host.last_name %></li>
      <li>Amount of beds: <%= room.beds %></li>
      <% if room.room_pictures.attached? %>
      <%= cl_image_tag room.room_pictures[0].key %>
      <% end %>

      <%= link_to "Show this room", room_path(room) %>
  <hr>
<% end %>


<p><%= link_to "Show all my bookings", bookings_path%></p>
</div>
