<div class="myroom_container row">
   <%= render "shared/sidebar" %>

  <div class="col-10" style="margin-bottom: 100px">
    <h1>Room Number: <%= @room.id %></h1>
    <p><i class="fa-solid fa-bed"></i> <%= @room.beds %></p>
    <div class="rooms-images-container">
      <% if @room.room_pictures.attached? %>
        <% @room.room_pictures.each do |picture| %>
        <%= cl_image_tag picture.key, crop: :fill %>
        <% end %>
      <% else %>
        <%= image_tag "https://cdn.britannica.com/22/125622-050-E4DA94ED/Albino-axolotl.jpg", width:200, height:200   %>
      <% end %>
    </div>
    <div class="rooms-btns">
      <%= link_to "Edit this room", edit_room_path(@room) %>
      <%= link_to "Remove this room", room_path(@room), data: { turbo_method: :delete, turbo_confirm: "Are you sure? " }  %>
      <%= link_to "See all my rooms", rooms_path %>
    </div>
  </div>
</div>
