<div class="container">
  <h1>Show Room nr: <%= @room.id %></h1>
  <li><%= @room.beds %></li>
  <hr>
  <% if @room.room_pictures.length > 0 %>
    <% @room.room_pictures.each do |picture| %>
    <%= cl_image_tag picture.key, height:300, width:400, crop: :fill %>
    <% end %>
  <% end %>
  <hr>
  <%= link_to "Edit this room", edit_room_path(@room) %>
  <hr>
  <%= link_to "Remove this room", room_path(@room), data: { turbo_method: :delete, turbo_confirm: "Are you sure? " }  %>
  <p><%= link_to "See all my rooms", rooms_path %></p>
</div>
