<!DOCTYPE html>
<html>
  <head>
    <title>Host</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="page-container">
      <% unless controller_name == "pages" && action_name == "home" %>
      <%= render "shared/navbar" %>
    <% end %>
    <main id="main-content">
      <%= yield %>
    </main>
    <% unless controller_name == "pages" && action_name == "home" %>
      <%= render "shared/footer" %>
    <% end %>
  </div>
</body>

